#slideshare_slides{
    border:1px solid #ccc;
    padding:10px;
    position:relative;
}
#slideshare_slides *{
    margin:0;
    padding:0;
    list-style:none;
    float:none;
}
#slideshare_slides .slidesharepresentations{
    overflow:auto;
    height: 100%;
    padding:0 5px;
}
#slideshare_slides .slidesharepresentations li{
    padding:2px 0 4px 0;
    display: inline-table;
    border-bottom: 2px solid gray;
    width: 100%;
}
#slideshare_slides .slidesharepresentations img{
    float: left;
    margin-right: 7px;
}
#slideshare_slides a{
    display:block;
    padding:2px 5px;
    color:#333;
    background:#fff;
    text-decoration:none;
    font-family:arial,sans-serif;
    font-size:13px;
}
#slideshare_slides a:hover{
    background:#ccc;
}
#slideshare_slides a.current{
    background:#393;
    color:#fff;
}
#slideshare_presentation{
    background:#ccc;
}